html{
  
  font-size: $base-font-size;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Container

@include breakpoint(tablet){
  .container{
    margin: 0 1.250rem;
  }
}

@include breakpoint(desktop){
  .container{
    max-width: 1260px;
    margin: 0 auto;
  }
}


// Button