@font-face {
	font-family: "Sueca Slab";
    font-weight: 500;
	src: url("../fonts/suecaslab-medium.eot?") format("eot"),
		 url("../fonts/suecaslab-medium.woff2") format("woff2"),
		 url("../fonts/suecaslab-medium.woff") format("woff"),
		 url("../fonts/suecaslab-medium.ttf") format("truetype"),
		 url("../fonts/suecaslab-medium.svg#suecaslabmedium") format("svg");
}

@font-face {
	font-family: "Sueca Slab";
    font-weight: 700;
	src: url("../fonts/suecaslab-bold.eot?") format("eot"),
		 url("../fonts/suecaslab-bold.woff2") format("woff2"),
		 url("../fonts/suecaslab-bold.woff") format("woff"),
		 url("../fonts/suecaslab-bold.ttf") format("truetype"),
		 url("../fonts/suecaslab-bold.svg#suecaslabbold") format("svg");
}