// VARIABLES & MIXINS

// Colors

$light-blue: #0074C4;
$yellow:     #ffff24;
$grey:       #ccc;

$n-50:       #fefefe;
$n-400:      #ccc;
$n-800:      #272727;
$n-900:      #1c1c1f;
$n:          #000;

$wh:         #fff;
$bl: $n;

// Breakpoints

@mixin breakpoint($point) {
    @if $point == desktop {
      @media only screen and (min-width: 1200px) { @content ; }
   }
    @else if $point == tablet {
      @media only screen and (max-width: 1199px) and (min-width: 321px) { @content ; }
   }
     @else if $point == mobile {
      @media only screen and (max-width: 320px) { @content ; }
   }
 }
 
// Spacing

$base-font-size: 12px;